/*****************TAG SELECTORS********************/
html,body{
    max-width: 100%;

   
    overflow-x: hidden;

}


body{
    background-color: #F0E5CF;
    width:100%;
}
hr{
    
    border-style: none;
    border-top: dotted;
    border-color: gray;
    border-width: 6px;
    width: 5%;
   

}
h1{
    color: #FF5DA2;
}
h3{
    color: #FF5DA2;
}


img:hover{
    background-color: gold;
} 

/***********CLASS SELECTORS****************/
.bacon{
    background-color: greenyellow;
}

.broccoli{
    background-color: red;
}

.circular{
    border-radius: 80%;
}

/***********ID SELECTORS****************/

#heading{
    color: blue;
}

#big{
    font-size: 1000px ;
}
